html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #79756f;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
}

.links a {
  padding: .5em .75em;
  border-radius: 3px;
  display: inline-block;
}

.links li {
  margin: 0;
  display: inline-block;
}

.links a:hover {
  background-color: #f33;
}
