html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #79756f;
  border: 3px solid #595652;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: Bevan, serif;
  color: #fff;
}

.links {
  margin: .3em;
  padding: 0;
  text-align: center;
}

.links li {
  margin: 0;
  display: inline-block;
}

.links a {
  padding: .5em .75em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  background-color: #713837;
  color: #fff;
}

.links a:hover {
background-color: #f33;
}
