html {
  line-height: 1.5;
  box-sizing: border-box;
  border: 3px solid #595652;
  background-color: #dbd6cf;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #79756f;
}

header {
  border-bottom: 3px solid #595652;
  background-color: #79756f;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Bevan, serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.links {
  margin: .3em;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.links a {
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  border-bottom: 3px;
  text-decoration: none;
}

.links li {
  margin: 0;
  padding: .5em .75em
  background-color: #713837;
  display: inline-block;
  border-radius: .3em;
  text-align: center;
}

.links li:hover {
  background-color: #f33;
}

.links a:hover {
  background-color: #f33;
}
